In [1]:
import pandas as pd
import numpy as np

In [2]:
phosphosite_data = pd.read_csv("../phospho_site_plus_human_20240422.tsv", delimiter='\t')
pka_data = pd.read_csv("../all_pka.csv", header=0)

In [3]:
pka_data = pka_data.drop(columns=["Unnamed: 0"])
pka_data

        uniprotID   AA  res_number         pK         state  position
0          A0PJZ3  NTR        5001   6.891614     undefined    5001.0
1          A0PJZ3  LYS           2  10.328119    protonated       2.0
2          A0PJZ3  SER           5        NaN     undefined       5.0
3          A0PJZ3  LYS           6  10.375520    protonated       6.0
4          A0PJZ3  SER          24        NaN     undefined      24.0
...           ...  ...         ...        ...           ...       ...
5916609    P51587  ASP        1397   3.790052  deprotonated       NaN
5916610    P51587  CYS        1398   9.230363    protonated       NaN
5916611    P51587  THR        1399        NaN     undefined       NaN
5916612    P51587  CTR        6400   2.997512  deprotonated       NaN
5916613    P51587  SER        1400        NaN     undefined       NaN

[5916614 rows x 6 columns]

In [4]:
phosphosite_data

,GENE,PROTEIN,ACC_ID,HU_CHR_LOC,MOD_RSD,SITE_GRP_ID,ORGANISM,MW_kD,DOMAIN,SITE_+/-7_AA,LT_LIT,MS_LIT,MS_CST,CST_CAT#,Ambiguous_Site
0,YWHAB,14-3-3 beta,P31946,20q13.12,T2-p,15718712,human,28.08,NaN,______MtMDksELV,NaN,3.0,1.0,NaN,0
1,YWHAB,14-3-3 beta,P31946,20q13.12,S6-p,15718709,human,28.08,NaN,__MtMDksELVQkAk,NaN,8.0,NaN,NaN,0
2,YWHAB,14-3-3 beta,P31946,20q13.12,Y21-p,3426383,human,28.08,14-3-3,LAEQAERyDDMAAAM,NaN,NaN,4.0,NaN,0
3,YWHAB,14-3-3 beta,P31946,20q13.12,T32-p,23077803,human,28.08,14-3-3,AAAMkAVtEQGHELs,NaN,NaN,1.0,NaN,0
4,YWHAB,14-3-3 beta,P31946,20q13.12,S39-p,27442700,human,28.08,14-3-3,tEQGHELsNEERNLL,NaN,4.0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389029,ZHX1,ZHX1,Q9UKY1,8q24.13,S450-gl,14703720,human,98.10,NaN,ATAAVPTsQSVkHET,NaN,1.0,NaN,NaN,0
389030,ZNF281,ZNF281,Q9Y2X9,1q32.1,S891-gl,14703723,human,96.91,NaN,TRVktPTsQSYR___,NaN,1.0,NaN,NaN,0
389031,ZNF609,ZNF609,O15014,15q22.31,S1196-gl,14703726,human,151.19,NaN,SDCKLPTsEESRLGS,NaN,1.0,NaN,NaN,0
389032,ZYX,Zyxin,Q15942,7q34,S169-gl,1876610700,human,61.28,NaN,DPFkARVssGyVPPP,1.0,NaN,NaN,NaN,0
389033,ZYX,Zyxin,Q15942,7q34,S246-gl,608970344,human,61.28,NaN,QSQTQPVsLANtQPr,1.0,NaN,NaN,NaN,0

In [5]:
# clean phosphosite_data
phosphosite_data['RES_NUM'] = phosphosite_data['MOD_RSD'].str.split('-').str[0].str[1:] # split string on '-' and get rid of first letter
phosphosite_data['PKA_ID'] = phosphosite_data['ACC_ID'] +"_"+ phosphosite_data['RES_NUM']
phosphosite_data

,GENE,PROTEIN,ACC_ID,HU_CHR_LOC,MOD_RSD,SITE_GRP_ID,ORGANISM,MW_kD,DOMAIN,SITE_+/-7_AA,LT_LIT,MS_LIT,MS_CST,CST_CAT#,Ambiguous_Site,RES_NUM,PKA_ID
0,YWHAB,14-3-3 beta,P31946,20q13.12,T2-p,15718712,human,28.08,NaN,______MtMDksELV,NaN,3.0,1.0,NaN,0,2,P31946_2
1,YWHAB,14-3-3 beta,P31946,20q13.12,S6-p,15718709,human,28.08,NaN,__MtMDksELVQkAk,NaN,8.0,NaN,NaN,0,6,P31946_6
2,YWHAB,14-3-3 beta,P31946,20q13.12,Y21-p,3426383,human,28.08,14-3-3,LAEQAERyDDMAAAM,NaN,NaN,4.0,NaN,0,21,P31946_21
3,YWHAB,14-3-3 beta,P31946,20q13.12,T32-p,23077803,human,28.08,14-3-3,AAAMkAVtEQGHELs,NaN,NaN,1.0,NaN,0,32,P31946_32
4,YWHAB,14-3-3 beta,P31946,20q13.12,S39-p,27442700,human,28.08,14-3-3,tEQGHELsNEERNLL,NaN,4.0,NaN,NaN,0,39,P31946_39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389029,ZHX1,ZHX1,Q9UKY1,8q24.13,S450-gl,14703720,human,98.10,NaN,ATAAVPTsQSVkHET,NaN,1.0,NaN,NaN,0,450,Q9UKY1_450
389030,ZNF281,ZNF281,Q9Y2X9,1q32.1,S891-gl,14703723,human,96.91,NaN,TRVktPTsQSYR___,NaN,1.0,NaN,NaN,0,891,Q9Y2X9_891
389031,ZNF609,ZNF609,O15014,15q22.31,S1196-gl,14703726,human,151.19,NaN,SDCKLPTsEESRLGS,NaN,1.0,NaN,NaN,0,1196,O15014_1196
389032,ZYX,Zyxin,Q15942,7q34,S169-gl,1876610700,human,61.28,NaN,DPFkARVssGyVPPP,1.0,NaN,NaN,NaN,0,169,Q15942_169
389033,ZYX,Zyxin,Q15942,7q34,S246-gl,608970344,human,61.28,NaN,QSQTQPVsLANtQPr,1.0,NaN,NaN,NaN,0,246,Q15942_246

In [6]:
pka_data['PKA_ID'] = pka_data['uniprotID'].str.split('-').str[0] +"_"+ pka_data['res_number'].apply(str)
pka_data

,uniprotID,AA,res_number,pK,state,position,PKA_ID
0,A0PJZ3,NTR,5001,6.891614,undefined,5001.0,A0PJZ3_5001
1,A0PJZ3,LYS,2,10.328119,protonated,2.0,A0PJZ3_2
2,A0PJZ3,SER,5,NaN,undefined,5.0,A0PJZ3_5
3,A0PJZ3,LYS,6,10.375520,protonated,6.0,A0PJZ3_6
4,A0PJZ3,SER,24,NaN,undefined,24.0,A0PJZ3_24
...,...,...,...,...,...,...,...
5916609,P51587,ASP,1397,3.790052,deprotonated,NaN,P51587_1397
5916610,P51587,CYS,1398,9.230363,protonated,NaN,P51587_1398
5916611,P51587,THR,1399,NaN,undefined,NaN,P51587_1399
5916612,P51587,CTR,6400,2.997512,deprotonated,NaN,P51587_6400
5916613,P51587,SER,1400,NaN,undefined,NaN,P51587_1400

In [7]:
len(pka_data['PKA_ID'].unique())

4350682

In [9]:
len(pka_data['uniprotID'].unique())

20595

In [8]:
full_data = pd.merge(phosphosite_data, pka_data, on="PKA_ID", how = "left")
print(full_data.shape)
full_data

(436145, 23)

,GENE,PROTEIN,ACC_ID,HU_CHR_LOC,MOD_RSD,SITE_GRP_ID,ORGANISM,MW_kD,DOMAIN,SITE_+/-7_AA,...,CST_CAT#,Ambiguous_Site,RES_NUM,PKA_ID,uniprotID,AA,res_number,pK,state,position
0,YWHAB,14-3-3 beta,P31946,20q13.12,T2-p,15718712,human,28.08,NaN,______MtMDksELV,...,NaN,0,2,P31946_2,P31946,THR,2.0,NaN,undefined,2.0
1,YWHAB,14-3-3 beta,P31946,20q13.12,S6-p,15718709,human,28.08,NaN,__MtMDksELVQkAk,...,NaN,0,6,P31946_6,P31946,SER,6.0,NaN,undefined,6.0
2,YWHAB,14-3-3 beta,P31946,20q13.12,Y21-p,3426383,human,28.08,14-3-3,LAEQAERyDDMAAAM,...,NaN,0,21,P31946_21,P31946,TYR,21.0,11.100927,protonated,21.0
3,YWHAB,14-3-3 beta,P31946,20q13.12,T32-p,23077803,human,28.08,14-3-3,AAAMkAVtEQGHELs,...,NaN,0,32,P31946_32,P31946,THR,32.0,NaN,undefined,32.0
4,YWHAB,14-3-3 beta,P31946,20q13.12,S39-p,27442700,human,28.08,14-3-3,tEQGHELsNEERNLL,...,NaN,0,39,P31946_39,P31946,SER,39.0,NaN,undefined,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436140,ZHX1,ZHX1,Q9UKY1,8q24.13,S450-gl,14703720,human,98.10,NaN,ATAAVPTsQSVkHET,...,NaN,0,450,Q9UKY1_450,Q9UKY1,SER,450.0,NaN,undefined,450.0
436141,ZNF281,ZNF281,Q9Y2X9,1q32.1,S891-gl,14703723,human,96.91,NaN,TRVktPTsQSYR___,...,NaN,0,891,Q9Y2X9_891,Q9Y2X9,SER,891.0,NaN,undefined,891.0
436142,ZNF609,ZNF609,O15014,15q22.31,S1196-gl,14703726,human,151.19,NaN,SDCKLPTsEESRLGS,...,NaN,0,1196,O15014_1196,O15014,SER,1196.0,NaN,undefined,1196.0
436143,ZYX,Zyxin,Q15942,7q34,S169-gl,1876610700,human,61.28,NaN,DPFkARVssGyVPPP,...,NaN,0,169,Q15942_169,Q15942,SER,169.0,NaN,undefined,169.0
436144,ZYX,Zyxin,Q15942,7q34,S246-gl,608970344,human,61.28,NaN,QSQTQPVsLANtQPr,...,NaN,0,246,Q15942_246,Q15942,SER,246.0,NaN,undefined,246.0

In [10]:
full_noduplicates_data = full_data.drop_duplicates()
full_noduplicates_data

,GENE,PROTEIN,ACC_ID,HU_CHR_LOC,MOD_RSD,SITE_GRP_ID,ORGANISM,MW_kD,DOMAIN,SITE_+/-7_AA,...,CST_CAT#,Ambiguous_Site,RES_NUM,PKA_ID,uniprotID,AA,res_number,pK,state,position
0,YWHAB,14-3-3 beta,P31946,20q13.12,T2-p,15718712,human,28.08,NaN,______MtMDksELV,...,NaN,0,2,P31946_2,P31946,THR,2.0,NaN,undefined,2.0
1,YWHAB,14-3-3 beta,P31946,20q13.12,S6-p,15718709,human,28.08,NaN,__MtMDksELVQkAk,...,NaN,0,6,P31946_6,P31946,SER,6.0,NaN,undefined,6.0
2,YWHAB,14-3-3 beta,P31946,20q13.12,Y21-p,3426383,human,28.08,14-3-3,LAEQAERyDDMAAAM,...,NaN,0,21,P31946_21,P31946,TYR,21.0,11.100927,protonated,21.0
3,YWHAB,14-3-3 beta,P31946,20q13.12,T32-p,23077803,human,28.08,14-3-3,AAAMkAVtEQGHELs,...,NaN,0,32,P31946_32,P31946,THR,32.0,NaN,undefined,32.0
4,YWHAB,14-3-3 beta,P31946,20q13.12,S39-p,27442700,human,28.08,14-3-3,tEQGHELsNEERNLL,...,NaN,0,39,P31946_39,P31946,SER,39.0,NaN,undefined,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436140,ZHX1,ZHX1,Q9UKY1,8q24.13,S450-gl,14703720,human,98.10,NaN,ATAAVPTsQSVkHET,...,NaN,0,450,Q9UKY1_450,Q9UKY1,SER,450.0,NaN,undefined,450.0
436141,ZNF281,ZNF281,Q9Y2X9,1q32.1,S891-gl,14703723,human,96.91,NaN,TRVktPTsQSYR___,...,NaN,0,891,Q9Y2X9_891,Q9Y2X9,SER,891.0,NaN,undefined,891.0
436142,ZNF609,ZNF609,O15014,15q22.31,S1196-gl,14703726,human,151.19,NaN,SDCKLPTsEESRLGS,...,NaN,0,1196,O15014_1196,O15014,SER,1196.0,NaN,undefined,1196.0
436143,ZYX,Zyxin,Q15942,7q34,S169-gl,1876610700,human,61.28,NaN,DPFkARVssGyVPPP,...,NaN,0,169,Q15942_169,Q15942,SER,169.0,NaN,undefined,169.0
436144,ZYX,Zyxin,Q15942,7q34,S246-gl,608970344,human,61.28,NaN,QSQTQPVsLANtQPr,...,NaN,0,246,Q15942_246,Q15942,SER,246.0,NaN,undefined,246.0

In [11]:
print(pka_data.shape)
print(phosphosite_data.shape)
print(full_noduplicates_data.shape) # 1468 of them didn't match up 
# I guess this makes sense. pka didn't output for ALL residues, and that's not that large of a fraction

(5916614, 7)
(389034, 17)
(436012, 23)

In [12]:
full_noduplicates_data['PKA_ID'].nunique()

370369

In [13]:
full_noduplicates_data['PKA_ID'].value_counts()

PKA_ID
Q8WZ42_1054    91
Q8WZ42_565     89
Q8WZ42_308     87
Q8WZ42_1159    86
Q8WZ42_300     86
               ..
O75592_2359     1
O75592_2353     1
O75592_2348     1
O75592_2344     1
Q15942_246      1
Name: count, Length: 370369, dtype: int64

In [14]:
print(full_data['pK'].notna().sum(), "rows have pka")
print(189514/425877,"have pka annotations")

189765 rows have pka
0.44499702965879817 have pka annotations

In [16]:
# adding the interfaces data
interfaces_data = pd.read_csv("../2024.05.28_interface_summary_5A.tsv", delimiter='\t', header=0)
interfaces_data

/var/folders/18/kpy7dqgx6kd36fdl425cpnkr0000gn/T/ipykernel_71234/2653588023.py:2: DtypeWarning: Columns (2,3,4,5,6,7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interfaces_data = pd.read_csv("../2024.05.28_interface_summary_5A.tsv", delimiter='\t', header=0)

,interaction_id,pdockq,uniprot_id1,uniprot_id2,chain1,chain2,ifresid1,ifresid2,sources,n_references,pdb
0,O75106_Q16853,0.74,O75106,Q16853,A,B,"R169,A203,A204,V205,H206,L212,R213,W220,N226,I...","P39,V209,L218,Q219,W226,N232,I233,S234,G235,A2...","BioGRID,humap,intact,string",2,O75106/O75106_Q16853.pdb
1,Q15118_Q15118,0.73,Q15118,Q15118,A,B,"S53,P54,P56,Y179,D182,R183,M186,L255,A257,H304...","S53,P54,P56,Y179,D182,R183,M186,E253,L255,A257...","BioGRID,intact",2,Q15118/Q15118_Q15118.pdb
2,P11142_Q92598,0.73,P11142,Q92598,A,B,"K25,E27,I28,A30,N31,D32,Q33,G34,R36,E48,L50,D5...","R19,A27,N28,E29,F30,S31,R33,N54,T58,Y184,R261,...","BioGRID,corum,humap,intact,otar,string,xlinkdb",9,P11142/P11142_Q92598.pdb
3,Q13326_Q16585,0.73,Q13326,Q16585,A,B,"V40,L41,L43,L44,L47,V48,N50,L51,T54,I55,L58,F6...","V68,I69,L71,L72,L75,A76,I78,N79,I82,I86,M100,F...","corum,otar,string",0,Q13326/Q13326_Q16585.pdb
4,Q13326_Q92629,0.73,Q13326,Q92629,A,B,"K33,L36,Y37,V40,L41,L43,L44,L47,V48,N50,L51,T5...","R30,K31,C33,L34,F37,V38,L40,L41,L44,I45,V47,N4...","corum,string",0,Q13326/Q13326_Q92629.pdb
...,...,...,...,...,...,...,...,...,...,...,...
486094,P23193_Q92889,0.00,NaN,NaN,NaN,NaN,NaN,NaN,otar,0,NaN
486095,P23193_Q92541,0.00,NaN,NaN,NaN,NaN,NaN,NaN,"BioGRID,intact,otar,string",1,NaN
486096,P23193_Q8WX92,0.00,NaN,NaN,NaN,NaN,NaN,NaN,"otar,string",0,NaN
486097,P23193_Q8WVC0,0.00,NaN,NaN,NaN,NaN,NaN,NaN,"BioGRID,intact,otar,string",2,NaN
486098,Q9Y6X8_Q9Y6X8,0.00,NaN,NaN,NaN,NaN,NaN,NaN,intact,0,NaN

In [37]:
# adding pockets data
pockets_data = pd.read_csv("../2024.05.28_pockets.tsv", delimiter='\t', header=0)
pockets_data

,struct_id,pocket_id,pocket_rad_gyration,pocket_energy_per_vol,pocket_buriedness,pocket_resid,pocket_plddt_mean,pocket_score_combined_scaled
0,A0A024R1R8-F1,1,4.042788,0.316535,0.772959,"{21,22,23,24,25,26,28,29,32}",83.937778,283.034096
1,A0A024R1R8-F1,2,3.175737,0.347111,0.808219,"{12,13,14,15,16,17}",61.206667,102.718057
2,A0A024RBG1-F1,1,7.310256,0.435597,0.856184,"{2,3,4,5,6,7,8,9,10,18,20,21,22,39,40,41,42,47...",89.456190,979.457587
3,A0A024RBG1-F1,2,6.350910,0.389675,0.814896,"{54,57,58,60,61,62,64,65,67,68,69,73,74,75,76,...",83.186923,938.222063
4,A0A024RBG1-F1,3,3.827945,0.378204,0.806045,"{1,2,3,4,5,6,109,110,112,113,114}",77.053636,422.703190
...,...,...,...,...,...,...,...,...
547396,X6R8D5-F1,3,3.894257,0.338401,0.777778,"{86,87,88,89,90,91,92,93,98,100,101,102,103}",56.513846,99.047598
547397,X6R8D5-F1,4,4.196873,0.328247,0.768473,"{43,44,45,46,47,48,49,50,127}",59.902222,107.547205
547398,X6R8D5-F1,5,4.465454,0.314353,0.751790,"{81,87,90,91,92,93,99,100,101,102,103,104,105}",58.298462,95.185313
547399,X6R8D5-F1,6,3.198691,0.398147,0.825342,"{66,67,68,69,71,72,73,75,76,77}",61.416000,122.028350
547400,X6R8D5-F1,7,3.424535,0.335463,0.767516,"{45,46,49,121,124,125}",68.791667,144.685237

In [38]:
pockets_data["struct_id"].str.split('-')

0         [A0A024R1R8, F1]
1         [A0A024R1R8, F1]
2         [A0A024RBG1, F1]
3         [A0A024RBG1, F1]
4         [A0A024RBG1, F1]
                ...
547396        [X6R8D5, F1]
547397        [X6R8D5, F1]
547398        [X6R8D5, F1]
547399        [X6R8D5, F1]
547400        [X6R8D5, F1]
Name: struct_id, Length: 547401, dtype: object

In [39]:
sum(full_noduplicates_data["ACC_ID"].str.contains("F1", case=False, na=False).astype(int))
# we don't have F1 at the end of some of the uniprot-IDs

674

In [40]:
sum(pockets_data["struct_id"].str.contains("F1", case=False, na=False).astype(int))

547401

In [41]:
# getting rid of F1 in the data
pockets_data['uniprot_id'] = pockets_data['struct_id'].str.split('-').str[0]
full_noduplicates_data['uniprot_id'] = full_noduplicates_data['ACC_ID'].str.split('-').str[0]
full_noduplicates_data.drop(columns = ['uniprotID'])

/var/folders/18/kpy7dqgx6kd36fdl425cpnkr0000gn/T/ipykernel_71234/37065774.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  full_noduplicates_data['uniprot_id'] = full_noduplicates_data['ACC_ID'].str.split('-').str[0]

,GENE,PROTEIN,ACC_ID,HU_CHR_LOC,MOD_RSD,SITE_GRP_ID,ORGANISM,MW_kD,DOMAIN,SITE_+/-7_AA,...,CST_CAT#,Ambiguous_Site,RES_NUM,PKA_ID,AA,res_number,pK,state,position,uniprot_id
0,YWHAB,14-3-3 beta,P31946,20q13.12,T2-p,15718712,human,28.08,NaN,______MtMDksELV,...,NaN,0,2,P31946_2,THR,2.0,NaN,undefined,2.0,P31946
1,YWHAB,14-3-3 beta,P31946,20q13.12,S6-p,15718709,human,28.08,NaN,__MtMDksELVQkAk,...,NaN,0,6,P31946_6,SER,6.0,NaN,undefined,6.0,P31946
2,YWHAB,14-3-3 beta,P31946,20q13.12,Y21-p,3426383,human,28.08,14-3-3,LAEQAERyDDMAAAM,...,NaN,0,21,P31946_21,TYR,21.0,11.100927,protonated,21.0,P31946
3,YWHAB,14-3-3 beta,P31946,20q13.12,T32-p,23077803,human,28.08,14-3-3,AAAMkAVtEQGHELs,...,NaN,0,32,P31946_32,THR,32.0,NaN,undefined,32.0,P31946
4,YWHAB,14-3-3 beta,P31946,20q13.12,S39-p,27442700,human,28.08,14-3-3,tEQGHELsNEERNLL,...,NaN,0,39,P31946_39,SER,39.0,NaN,undefined,39.0,P31946
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436140,ZHX1,ZHX1,Q9UKY1,8q24.13,S450-gl,14703720,human,98.10,NaN,ATAAVPTsQSVkHET,...,NaN,0,450,Q9UKY1_450,SER,450.0,NaN,undefined,450.0,Q9UKY1
436141,ZNF281,ZNF281,Q9Y2X9,1q32.1,S891-gl,14703723,human,96.91,NaN,TRVktPTsQSYR___,...,NaN,0,891,Q9Y2X9_891,SER,891.0,NaN,undefined,891.0,Q9Y2X9
436142,ZNF609,ZNF609,O15014,15q22.31,S1196-gl,14703726,human,151.19,NaN,SDCKLPTsEESRLGS,...,NaN,0,1196,O15014_1196,SER,1196.0,NaN,undefined,1196.0,O15014
436143,ZYX,Zyxin,Q15942,7q34,S169-gl,1876610700,human,61.28,NaN,DPFkARVssGyVPPP,...,NaN,0,169,Q15942_169,SER,169.0,NaN,undefined,169.0,Q15942
436144,ZYX,Zyxin,Q15942,7q34,S246-gl,608970344,human,61.28,NaN,QSQTQPVsLANtQPr,...,NaN,0,246,Q15942_246,SER,246.0,NaN,undefined,246.0,Q15942

In [42]:
pockets_data

,struct_id,pocket_id,pocket_rad_gyration,pocket_energy_per_vol,pocket_buriedness,pocket_resid,pocket_plddt_mean,pocket_score_combined_scaled,uniprot_id
0,A0A024R1R8-F1,1,4.042788,0.316535,0.772959,"{21,22,23,24,25,26,28,29,32}",83.937778,283.034096,A0A024R1R8
1,A0A024R1R8-F1,2,3.175737,0.347111,0.808219,"{12,13,14,15,16,17}",61.206667,102.718057,A0A024R1R8
2,A0A024RBG1-F1,1,7.310256,0.435597,0.856184,"{2,3,4,5,6,7,8,9,10,18,20,21,22,39,40,41,42,47...",89.456190,979.457587,A0A024RBG1
3,A0A024RBG1-F1,2,6.350910,0.389675,0.814896,"{54,57,58,60,61,62,64,65,67,68,69,73,74,75,76,...",83.186923,938.222063,A0A024RBG1
4,A0A024RBG1-F1,3,3.827945,0.378204,0.806045,"{1,2,3,4,5,6,109,110,112,113,114}",77.053636,422.703190,A0A024RBG1
...,...,...,...,...,...,...,...,...,...
547396,X6R8D5-F1,3,3.894257,0.338401,0.777778,"{86,87,88,89,90,91,92,93,98,100,101,102,103}",56.513846,99.047598,X6R8D5
547397,X6R8D5-F1,4,4.196873,0.328247,0.768473,"{43,44,45,46,47,48,49,50,127}",59.902222,107.547205,X6R8D5
547398,X6R8D5-F1,5,4.465454,0.314353,0.751790,"{81,87,90,91,92,93,99,100,101,102,103,104,105}",58.298462,95.185313,X6R8D5
547399,X6R8D5-F1,6,3.198691,0.398147,0.825342,"{66,67,68,69,71,72,73,75,76,77}",61.416000,122.028350,X6R8D5
547400,X6R8D5-F1,7,3.424535,0.335463,0.767516,"{45,46,49,121,124,125}",68.791667,144.685237,X6R8D5

# The procedure:

PSP, pocket, interface

start  with PSP:

loop through unique uniprot id

for each unique uniprot id

select all the PTM sites in the same protein from PSP
select all pockets ..... from procket table
select all interfaces .... from interface table (any pair has uniprot id)

loop through ptm  sites

for each site, 

calculate prockets distance
if site in any pockets: (for loop)
    mindistance = 0
    in pockets = True
    pockets number = [#]
else 
    in pcikates = False
loop through all the pockets
calculate the first taken as minial
       minidistance = #
       pockets number = #
 calcualte any pairt betwene site and pocket residue
 compare the new distance to the minidistant 
  if < 
    replace
    elif =
    append
    
    




- match up uniprot id from pockets data to ptm 
- check if any ptms are located inside of the pocket 
- new column w/ if inside the pocket T/F
-if FALSE, find the closest PTM 


-new column w/ distance from ptm and closest pocket residue

### Pockets Data

In [51]:
# making a smaller test dataset
test_psp = full_noduplicates_data.sample(n = 300)
test_psp['closest_pocket'] = "NaN"
test_psp['inside_pocket'] = "NaN"
test_psp

,GENE,PROTEIN,ACC_ID,HU_CHR_LOC,MOD_RSD,SITE_GRP_ID,ORGANISM,MW_kD,DOMAIN,SITE_+/-7_AA,...,PKA_ID,uniprotID,AA,res_number,pK,state,position,uniprot_id,closest_pocket,inside_pocket
347641,MIS18BP1,KNL2,Q6P0N0,14q21.2,K725-ub,964523862,human,129.09,NaN,DLLTVNRkIkIsNLE,...,Q6P0N0_725,Q6P0N0,LYS,725.0,10.437826,protonated,725.0,Q6P0N0,NaN,NaN
284701,KRT27,KRT27,Q7Z3Y8,17q21.2,K417-ac,9909355,human,49.82,NaN,NQtKDSSkTTIVKTV,...,Q7Z3Y8_417,Q7Z3Y8,LYS,417.0,10.395975,protonated,417.0,Q7Z3Y8,NaN,NaN
223166,ITPRID2,SSFA2,P28290,2q31.3,S364-p,31873108,human,138.39,NaN,AtVKEEVsGSSAAVT,...,P28290_364,P28290,SER,364.0,NaN,undefined,364.0,P28290,NaN,NaN
230032,TBC1D15,TBC1D15,Q8TC07,12q21.1,S127-p,34366574,human,79.49,PH_RBD,RNGKSkWsFLFsLTD,...,Q8TC07_127,Q8TC07,SER,127.0,NaN,undefined,127.0,Q8TC07,NaN,NaN
413337,HSPA8,HSC70,P11142,11q24.1,K557-m2,12193451,human,70.90,HSP70,kATVEDEkLQGkIND,...,P11142_557,P11142,LYS,557.0,10.931419,protonated,557.0,P11142,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384931,SORL1,SORL1,Q92673,11q24.1,K446-ub,573779522,human,248.43,Sortilin-Vps10,RSVITFDkGGTWEFL,...,Q92673_446,Q92673,LYS,446.0,12.432328,protonated,446.0,Q92673,NaN,NaN
197026,RNF17,RNF17,Q9BXT8,13q12.12,T1242-p,25308198,human,184.64,TUDOR,CAVRGsDtLWyRGKV,...,Q9BXT8_1242,Q9BXT8,THR,1242.0,NaN,undefined,1242.0,Q9BXT8,NaN,NaN
130363,MATR3,matrin 3,P43243,5q31.2,S77-p,23124593,human,94.62,NaN,HsALSsAsTSSHNLQ,...,P43243_77,P43243,SER,77.0,NaN,undefined,77.0,P43243,NaN,NaN
289663,PLEC,Plectin-1,Q15149,8q24.3,K2073-ac,89113228,human,531.79,NaN,ALKASFEkAAAGkAE,...,Q15149_2073,NaN,NaN,NaN,NaN,NaN,NaN,Q15149,NaN,NaN
28300,BIRC6,BIRC6,Q9NR09,2p22.3,S3591-p,27444772,human,530.27,BIRC6,KkQDLSSsLTDDSkN,...,Q9NR09_3591,NaN,NaN,NaN,NaN,NaN,NaN,Q9NR09,NaN,NaN

In [61]:
unique_uniprots = test_psp['uniprot_id'].unique() # get all of the unique uniprot

# for each unique uniprotID...
for uniprot in unique_uniprots:
    # isolate to psp and pockets in each uniprot
    psp_only_uniprot = test_psp[test_psp.uniprot_id == uniprot]
    psp_only_uniprot = psp_only_uniprot.reset_index()
    pocket_only_uniprot = pockets_data[pockets_data.uniprot_id == uniprot]

# for each psp
    for phosphosite_row_index in psp_only_uniprot.index:
        print(phosphosite_row_index)
        print(psp_only_uniprot.loc[phosphosite_row_index,'res_number'])
        residue_num = (psp_only_uniprot.loc[phosphosite_row_index,'res_number']) # finding the residue number of the psp
        # use the residue # to get the coordinates in space from pdb file

0
Q6P0N0
0
Q7Z3Y8
0
P28290
0
Q8TC07
0
P11142
0
Q16665
0
P49792
1
P49792
0
O94911
0
Q03164
1
Q03164
0
Q8IVF4
0
Q9BTU6
0
P0DJD0
0
P20701
0
Q09666
1
Q09666
2
Q09666
0
O43683
0
Q14533
0
Q96FV9
0
O60271
0
Q8WXI7
1
Q8WXI7
2
Q8WXI7
0
P35555
0
P0DJD1
0
P07900
0
P38159
0
P13928
0
O00635
1
O00635
0
Q96ES7
0
Q13464
1
Q13464
0
O60763
0
Q13523
0
Q8NI08
0
Q9NUQ6
0
O75937
0
A6NKB5
0
O00483
0
O14986
1
O14986
0
Q13045
0
Q14839
0
P51587
0
Q9H172
0
P21860
0
Q2UY09
0
P20930
0
P00519
0
Q9UH99
0
O60343
0
Q8N118
0
Q7Z4H7
0
P12111
0
Q86YS6
0
Q9Y2H0
0
P80723
0
Q96GQ7
0
Q9NQR7
0
O75592
0
Q9P203
0
Q8IWZ6
0
O75475
0
O43615
0
Q2KHR2
0
Q13308
0
P55010
0
Q8IZT6
0
Q70CQ4
1
Q70CQ4
0
Q9BV44
0
P51610
1
P51610
0
P58107
0
Q02224
0
P50552
0
Q8IYN0
0
Q9P000
0
O00767
0
P06730
0
P49902
0
P54886
0
O75387
0
Q12797
0
P27815
0
Q8NB25
0
Q00403
0
Q9UNH5
0
P28074
0
P11831
0
Q6ZQQ6
0
P18887
0
Q9P275
0
Q9H9E1
0
Q9Y6W5
0
Q9NYJ8
0
P31689
0
Q96RS0
0
P40429
0
Q9UQ35
1
Q9UQ35
2
Q9UQ35
0
Q92902
0
P07355
0
Q6V0I7
0
Q13098
0
Q9Y4A5
0
O75746
0
A6NKT7
0
Q12931
0
Q12788
0
Q07157
0
Q92917
0
Q9UBU7
0
Q7Z7G8
0
P46013
0
Q99996
0
Q8IY92
0
Q9GZR7
0
Q58FG0
0
Q9H425
0
Q86YZ3
0
Q13115
0
Q5T1M5
0
Q9HBG6
0
Q9ULD8
0
A8MUI8
0
Q8TEQ6
0
Q8IWU5
0
Q71DI3
0
Q01484
0
O75478
0
P54098
0
Q9GZN1
0
Q92560
0
P53396
0
O15068
0
P35670
0
P09936
0
Q5VT06
0
Q14155
0
Q9ULD6
0
Q96HA1
0
Q92608
0
P14635
0
Q659C4
0
Q04637
0
Q96RF0
0
O75582
0
P16615
0
Q6ZS17
0
Q15717
0
P08238
1
P08238
0
P43121
0
Q5TGY3
0
Q9HD26
0
P02671
0
Q13241
0
Q71U36
0
O95402
0
O95263
0
O15013
0
P19338
0
Q9BVC4
0
Q96RW7
0
Q9P2R7
0
Q8N8F6
0
P60709
0
Q9Y6A5
0
P13984
0
Q9Y5X3
0
Q96BH1
0
Q96J02
0
Q9H2G2
0
Q14457
0
Q92736
0
Q9C040
0
Q5T7N2
0
Q13085
0
P31327
0
Q9UGI6
0
P35606
0
Q5QJE6
0
Q8TDJ6
0
P0DI83
0
Q6ZN06
0
O00444
0
P51786
0
Q96JN8
0
Q9BZD3
0
Q8TDL5
0
P15924
0
O15014
0
Q93074
0
Q9UPU7
0
O75717
0
P26651
0
O43303
0
O00400
0
P20929
0
P11021
0
A8MW92
0
P46100
0
Q6WKZ4
0
P43378
0
P21333
1
P21333
0
Q13094
0
Q9Y365
0
Q9Y3B9
0
Q99767
0
Q0D2I5
0
Q02809
0
P17980
0
Q7Z3J3
0
Q99832
0
Q08211
0
Q99417
0
Q6ZVF9
0
Q14320
0
Q13569
0
P52948
0
Q14094
0
Q15772
0
P04632
0
Q27J81
0
Q8N3K9
0
Q9NR09
1
Q9NR09
0
Q8TCG2
0
P30876
0
Q8NF91
0
Q8NDX6
0
Q9P2M7
0
Q9H2Y7
0
Q14588
0
Q9BUV0
0
Q5JSZ5
0
P17036
0
Q8WZ42
0
O94964
0
Q96G01
0
P62191
0
Q9Y6J0
0
O95714
0
O60296
0
Q99607
0
P35579
0
Q9Y2H5
0
Q9UKE5
1
Q9UKE5
0
Q6UX71
0
O75170
0
Q86W50
0
P05141
0
Q86XI8
0
P21266
0
Q68DQ2
0
Q8N1W1
0
Q9BV10
0
P13639
0
Q8TDY2
0
P00451
0
Q8WXC6
0
Q9NQY0
0
Q5T200
0
Q6P996
0
P51787
0
Q96TA1
0
P18206
0
Q6PEV8
0
Q9Y4B5
0
Q8TF20
0
Q4G0S4
0
Q86Y26
0
O14578
0
P52789
0
O95749
0
Q13191
0
P26599
0
Q9GZS3
0
Q86Y46
0
P04114
0
O75132
0
Q8IX01
0
Q9P2E9
0
Q7L099
0
Q9NRE1
0
Q13315
0
P30566
0
Q9UHF7
0
P34998
0
Q92673
0
Q9BXT8
0
P43243
0
Q15149

In [56]:
pocket_only_uniprot

Empty DataFrame
Columns: [struct_id, pocket_id, pocket_rad_gyration, pocket_energy_per_vol, pocket_buriedness, pocket_resid, pocket_plddt_mean, pocket_score_combined_scaled, uniprot_id]
Index: []